services:
  fish-app-new:
    image: node:16-alpine
    container_name: fish-app-new
    working_dir: /app
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm start"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    networks:
      - public
    restart: always

networks:
  public: