services:
  app:
    image: node:16-alpine
    container_name: magicworld-app
    working_dir: /app
    ports:
      - "80:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm start"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true