@media all and (min-width: 300px) {
  .Fishes-box {
    height: 240px;
  }

  img {
    width: 250px;
    height: 200px;
  }

  .Banner_text {
    font-size: clamp(2.5rem, 0.25rem + 2vw, 2rem);
  }

  .Fish_text {
    font-size: clamp(0.75rem, 0.55rem + 4vw, 4rem);
  }

  .FishesName {
    font-size: clamp(2.5rem, 0.25rem + 2vw, 2rem);
  }

  .Search input {
    font-size: clamp(1rem, 0.25rem + 2vw, 2rem);
  }

  .MagicContainer {
    margin: 20px;
  }
}

@media all and (min-width: 768px) {

  .Fishes-box {
    height: 360px;
  }

  .Banner_text {
    font-size: clamp(4.5rem, 0.25rem + 2vw, 2rem);
  }

  .Fish_text {
    font-size: clamp(0.75rem, 0.55rem + 3vw, 4rem);
  }

  .FishesName {
    font-size: clamp(4.5rem, 0.25rem + 2vw, 2rem);
  }

  .Search input {
    font-size: clamp(1.5rem, 0.25rem + 2vw, 2rem);
  }

  img {
    width: 350px;
    height: 250px;
  }


  .MagicContainer {
    margin: 30px;
  }
}

@media all and (min-width: 960px) {

  .Fishes-box {
    height: 480px;
  }

  .Fish_text {
    font-size: clamp(0.75rem, 0.45rem + 2vw, 2.5rem);
  }

  .Banner_text {
    font-size: clamp(5.5rem, 0.25rem + 4vw, 4rem);
  }

  .FishesName {
    font-size: clamp(5.5rem, 0.25rem + 4vw, 4rem);
  }

  
  img {
    width: 420px;
    height: 320px;
  }
  

  .Search input {
    font-size: clamp(1.5rem, 0.25rem + 2vw, 2rem);
  }

  .MagicContainer {
    margin: 40px;
  }
}

.App {
  text-align: center;
  background-color: rgb(3, 19, 75);
}

.MagicContainer {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-stretch: normal;
  background-image: url("../public/image/Meduza_2-fentazi.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);

}

.Search {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search input {
  display: flex;
  align-items: center;
  /*height: 40px;
  width: 22%;*/
  background-color: rgba(9, 39, 170, 0.6);
  color: aqua;
  /*font-size: clamp(0.75rem, 0.25rem + 2vw, 2rem);*/
  font-weight: 500;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}

.Search input::placeholder {
  color: aqua;
}

.Banner_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Candara', 'Times New Roman', Times, serif;
  padding: 60px;
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Chapter {
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: flex-end;
  min-width: 215px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.Text-description {
  display: flex;
  color: rgb(186, 236, 243);
  font-size: 25px;
  font-weight: lighter;
  padding: 50px;
  text-align: justify;
  
}

.FishesName {
  display: flex;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  padding: 100px;
  align-items: center;
  justify-content: center;
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;

}

.Box {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  font-stretch: normal;
  flex-basis: max-content;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
}

.Mail {
  display: flex;
  flex: auto;
  flex-direction: column;
  font-stretch: normal;
  flex-basis: max-content;
  padding: 10px;
  justify-content: space-evenly;
}

.Email {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  font-size: clamp(3.75rem, 0.25rem + 2vw, 2rem);
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Network {
  display: flex;
  flex: auto;
  flex-direction: row;
  font-stretch: normal;
  align-items: center;
  justify-content: center;
}

.media-icon {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  height: 24px;
  width: 24px;
}

.Telegramm {
  background-image: url("../public/image/free-icon-telegram-408737.png");
}

.VK {
  background-image: url("../public/image/free-icon-vk-725288.png");
}

.Fish_text {
  display: flex;
  align-items: start;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: right;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  width: 70%;
  padding: 8%;
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Fishes-box {
  display: flex;
  flex: auto;
  color: aliceblue;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  flex-direction: column;
  font-stretch: normal;
  flex-basis: max-content;
  justify-content: space-evenly;
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle1 {
  background-color: rgb(143, 146, 143);
  height: 700px;
  width: 700px;
  border-radius: 50%;
  font-size: 500%;
  position: relative;
  box-shadow: inset -10px -10px 100px #040013, 10px 10px 20px rgb(11, 2, 35), inset 0px 0px 10px rgb(0, 2, 9);
  display: inline-block;
  margin: 20%;
}

.circle2 {
  background-color: rgb(8, 163, 6);
  height: 500px;
  width: 500px;
  border-radius: 50%;
  font-size: 500%;
  position: relative;
  top: 100px;
  box-shadow: inset -10px -10px 100px #01240b, 10px 10px 20px rgb(1, 18, 5), inset 0px 0px 10px rgb(0, 16, 5);
  display: inline-block;
}

.circle3 {
  background-color: rgb(241, 31, 87);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  font-size: 500%;
  position: absolute;
  bottom: 350px;
  left: 60%;
  box-shadow: inset -10px -10px 100px #2e030e, 10px 10px 20px rgb(19, 1, 1), inset 0px 0px 10px rgb(16, 0, 7);
  display: inline-block;
}

.number {
  font-size: 150px;
  color: #000;
}

.Pages {
  display: flex;
  min-height: 100vh;
  flex-basis: max-content;
}

.Menu1 {
  display: flex;
  width: 100%;
  background-color: rgb(39, 4, 71);
  flex-direction: column;
  flex-basis: max-content;
  flex-grow: 1;
  justify-content: center;
}

.Page {
  display: flex;
  flex-direction: column;
  flex-basis: max-content;
  flex-grow: 3;
  width: 100%;
  justify-content: center;

}

.Header {
  display: flex;
  background-color: rgb(57, 15, 124);
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Body {
  display: flex;
  height: stretch;
  background-color: rgb(74, 40, 212);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y:scroll;
  flex-grow: 1;
}

.Futer {
  display: flex;
  background-color: rgb(57, 15, 124);
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 40px;
  color: #20e6dc;

}

.cat {
  background-image: url(../public/image/free-icon-cat-7179688.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  height: 48px;
  width: 48px;
}

ul {
  font-size: 25px;
  color: #20e6dc;
  list-style-type: none;
}

.Line {
  height: 30px;
  color: #20e6dc;
  font-size: 20px;
  justify-content: center;
}