.App {
  text-align: center;
  background-color: rgb(3, 19, 75);
}

.MagicContainer {
  display: flex;
  flex-direction: column;
  background-image: url("../public/image/Meduza_2-fentazi.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.Search {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search input {
  display: flex;
  align-items: center;
  height: 40px;
  width: 22%;
  background-color: rgba(9, 39, 170, 0.6);
  color: aqua;
  font-size: clamp(0.75rem, 0.25rem + 2vw, 2rem);
  font-weight: 500;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}

.Search input::placeholder {
  color: aqua;
}

.Banner_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Candara', 'Times New Roman', Times, serif;
  padding: 60px;
  font-size: clamp(4.5rem, 0.25rem + 2vw, 2rem);
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Section {
  display: flex;
  flex: auto;
  flex-direction: row;
  font-stretch: normal;
  flex-basis: max-content;
  align-items: center;
  justify-content: space-evenly;
}

.Chapter {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40%;
  width: 22%;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 215px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.Chapter_text {
  display: flex;
  align-items: start;
  justify-content: right;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Candara', 'Times New Roman', Times, serif;
  padding: 8%;
  width: 70%;
  font-size: clamp(0.75rem, 0.25rem + 2vw, 2rem);
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.FishesName {
  display: flex;
  color: aliceblue;
  font-size: 75px;
  font-weight: 400;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  padding: 100px;
  align-items: center;
  justify-content: center;
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Foto {
  display: flex;
  background-repeat: no-repeat;
  /*background-size: 100% 100%;*/
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 15%;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.Box {
  display: flex;
  flex: auto;
  flex-direction: row;
  font-stretch: normal;
  flex-basis: max-content;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}

.Mail {
  display: flex;
  flex: auto;
  flex-direction: column;
  font-stretch: normal;
  flex-basis: max-content;
  padding: 10px;
  justify-content: space-evenly;
}

.Email {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  font-size: clamp(3.75rem, 0.25rem + 2vw, 2rem);
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Network {
  display: flex;
  flex: auto;
  flex-direction: row;
  font-stretch: normal;
  align-items: center;
  justify-content: center;
}

.media-icon {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  height: 24px;
  width: 24px;
}

.Telegramm {
  background-image: url("../public/image/free-icon-telegram-408737.png");
}

.VK {
  background-image: url("../public/image/free-icon-vk-725288.png");
}

.Fish {
  display: flex;
  background-repeat: no-repeat;
  /* background-size: 100% 100%;*/
  flex-direction: row;
  justify-content: flex-end;
  height: 80%;
  width: 15%;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    1px 2px 4px 0px rgba(0, 0, 0, 0.7),
    2px 4px 8px 0px rgba(0, 0, 0, 0.7),
    2px 4px 16px 0px rgba(0, 0, 0, 0.7);
}

.Fish_text {
  display: flex;
  align-items: start;
  justify-content: right;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  width: 70%;
  padding: 4%;
  font-size: clamp(0.75rem, 0.25rem + 2vw, 2rem);
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.Fishes-box {
  display: flex;
  flex: auto;
  color: aliceblue;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  flex-direction: column;
  font-stretch: normal;
  flex-basis: max-content;
  justify-content: space-evenly;
  text-shadow: rgb(2, 1, 21) 2px 3px 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}