* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Адаптивная типографика */
@media all and (max-width: 479px) {
  html {
    font-size: 14px;
  }
}

@media all and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}